//Container Width

$desktopWidth: 1220px;
$tabletWidth: 700px;

//Media query

$desctopMedia: 1400px;
$laptopMedia: 1399px;
$tabletMedia: 1023px;
$mobileMedia: 767px;
$mobileMMedia: 424px;
$mobileSMedia: 374px;

//Container gutter

$gutter: 10px;

//variables

$borderRadius: 3px;

$redColor: red;